.badgeContainer {
  position: absolute;
  top: 10%;
  right: -50px; /* stick out from edge */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.textCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: var(--weight-semibold);
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: rotate(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.textCircle span {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: 0 60px; /* radius from center */
}
