.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  max-width: 100%;
}

bold {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.line {
  flex: 1;
  height: 1px;
  background: linear-gradient(90deg, transparent, #e5e7eb, transparent);
  border: none;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(167, 109, 255, 0.3);
}

.icon {
  width: 100%;
  height: 100%;
}
