.ctaSection {
  margin: 4rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.ctaCard {

  background-image: url("../assets/images/ctabacgkround2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* background-color: var(--warning); */
  border: 2px solid var(--border);
  border-radius: 5px;
  width: 50%;
  height: 20rem;
  padding: 2rem 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ctaTitle {
  font-size: var(--h3);
  font-weight: bold;
  color: var(--text);
  margin-bottom: 1rem;
}

.ctaText {
  font-size: var(--h5);
  color: var(--text);
  margin-bottom: 2rem;
}

